<h1> Request 311 Services </h1>
<% @requests.each do |request| %>
<h4><%= request.neighbourhood %></h4>
<p> <%= request.ward %> </p>
<%end%> %>
<%#
<% @names.each do |name| %>
<%# <p> <%= name.service_name %></p>
<%# <% end %> %> %>